{% extends "sectionBase.html" %}
{% block contentSection %}
	<h3>{{event.title}}</h3>

	<form method="post">
		<label>
			<div>Title</div>
			<input type="text" name="title" value="{{event.title}}">
		</label>

		<br>

		<label>
			<div>Content</div>
			<input type="text" name="content" value="{{event.content}}">
		</label>

		<br>

		<div>Repeat</div>
		{% for i in range(7) %}
			{% if event.repeat[i] == "1" %}
				<input type="checkbox" name="repeat{{i}}" checked="checked">
			{% else %}
				<input type="checkbox" name="repeat{{i}}">
			{% endif %}
		{% endfor %}

		<br><br>

		<label>
			<div>Plan Start Time</div>
			{% if event.time_plan_start is not none %}
				<input type="datetime-local" name="planStartTime" value={{event.time_plan_start.strftime("%Y-%m-%dT%H:%M")}}>
			{% else %}
				<input type="datetime-local" name="planStartTime">
			{% endif %}
		</label>

		<br>

		<label>
			<div>Plan End Time</div>
			{% if event.time_plan_end is not none%}
				<input type="datetime-local" name="planEndTime" value={{event.time_plan_end.strftime("%Y-%m-%dT%H:%M")}}>
			{% else %}
				<input type="datetime-local" name="planEndTime">
			{% endif %}
		</label>

		<br>

		<label>
			<div>Exe Start Time</div>
      {% if event.time_exe_start is not none %}
			  <input type="datetime-local" name="exeStartTime" value={{event.time_exe_start.strftime("%Y-%m-%dT%H:%M")}}>
      {% else %}
        <input type="datetime-local" name="exeStartTime" value={{exeStartTime.strftime("%Y-%m-%dT%H:%M")}}>
      {% endif %}
		</label>

		<br>

		<label>
			<div>Exe End Time</div>
      {% if event.time_exe_end is not none %}
			  <input type="datetime-local" name="exeEndTime" value={{event.time_exe_end.strftime("%Y-%m-%dT%H:%M")}}>
      {% else %}
        <input type="datetime-local" name="exeEndTime" value={{exeEndTime.strftime("%Y-%m-%dT%H:%M")}}>
      {% endif %}
		</label>

    <br><br>

		<label>
			<div>Select from Projects</div>
		</label>
		<select name='projects'>
			{% for project in event.user.projects %}
				{% if project.name == event.project.name %}
				<option value={{project.name}} selected="selected">{{project.name}}</option>
				{% else %}
					<option value={{project.name}}>{{project.name}}</option>
				{% endif %}
			{% endfor %}
		</select>

		<br>

		<label>
			<div>Select from Contexts</div>
		</label>
		<select name='contexts'>
			{% for context in event.user.contexts %}
				{% if context.name == event.context.name %}
				<option value={{context.name}} selected="selected">{{context.name}}</option>
				{% else %}
					<option value={{context.name}}>{{context.name}}</option>
				{% endif %}
			{% endfor %}
		</select>

		<label>
			<div>Select from TimeCategories</div>
		</label>
		<select name='timeCategories'>
			{% for timeCategory in event.user.timeCategories %}
				{% if timeCategory.name == event.timeCategory.name %}
				<option value={{timeCategory.name}} selected="selected">{{timeCategory.name}}</option>
				{% else %}
					<option value={{timeCategory.name}}>{{timeCategory.name}}</option>
				{% endif %}
			{% endfor %}
		</select>
		<br><br>

	  <label>
		  <div>Finished
			  {% if event.finished %}
				  <input type="checkbox" name="finished" checked="checked">
			  {% else %}
				  <input type="checkbox" name="finished">
			  {% endif %}
		  </div>
	  </label>
		<br>

		{% if errorMessage%}
			<div style="color:red;">{{errorMessage}}</div>
		{% endif %}
		<br><br>

		<input type="submit" name="Update" value="Update">
		<input type="submit" name="Delete" value="Delete">

	</form>
{% endblock %}
