{% extends "sectionBase.html" %}
{% block contentSection %}
		<form method="post">
      <h4>{{project_name}}</h4>
	    {% if project_name != "inbox" %}
			  <input type="submit" value="Delete Project">
        <br><br>
        <input type='text' name='project_name' value={{project_name}}>
        <input type='submit' value='Update Name'>
		</form>
	{% endif %}
	<br>
	<h4>Unfinished Events:</h4>
	{% for (date,events) in unfinished_events.items() %}
		<div>{{date}}</div>
		{% for event in events %}
			<div>
				<a href="/event/{{event.key().id()}}">{{event.title}}</a>
			</div>
		{% endfor %}
	{% endfor %}
	<br>
	<hr>
	<h4>Finished Events:</h4>
	{% for (date,events) in finished_events.items() %}
		<div>{{date}}</div>
		{% for event in events %}
			<div>
				<a href="/event/{{event.key().id()}}">{{event.title}}</a>
			</div>
		{% endfor %}
	{% endfor %}
	<br>
{% endblock %}
