{% extends "base.html" %}

{% block eventSection %}
<div class="container">
	<div class="row">
	  <div class="col-md-3">
      <a href="/collection"><h2>Collection</h2></a>
	    <hr>
      <a href="/today"><h2>Today</h2></a>
	    <hr>
			<h2>Tasks</h2>
			<a href="/unfinishedEvents"><h3>Unfinished Events</h3></a>
			<a href="/projects"><h3>Projects</h3></a>
			<a href="/contexts"><h3>Contexts</h3></a>
			<a href="/timeCategories"><h3>TimeCategories</h3></a>
			<a href="/event/new"><h3>Add Event</h3></a>
			<hr>
			<h2>Statistics</h2>
			<a href="/statistics"><h3>Time Statistics</h3></a>
			<hr>
		</div>
		<div class="col-md-9">
				{% block contentSection %}
				{% endblock %}
		</div>
	</div>
</div>
{% endblock %}
