{% extends "sectionBase.html" %}
{% block contentSection %}
	<div class="col-md-3">
		<h3>Categories</h3>
		<br>
		<h4><a href="/timeCategory/new">+</a></h4>
		{% for timeCategory in timeCategories %}
			<h4>
				<a href="/timeCategories/{{timeCategory.key().id()}}">{{timeCategory.name}}</a>
			</h4>
		{% endfor %}
	</div>

	<div class="col-md-3">
			<form method="post">
    <h3>{{timeCategory_name}}</h3>
		<input type="submit" name="Delete" value="Delete Category">
    <br><hr>
    <input type='text' name='timeCategory_name' value={{timeCategory_name}}>
		<br>
    <input type='submit' name="Update" value='Update Name'>
	  <br><hr>

	  <h4>Unfinished Events:</h4>
	  {% for (date,events) in unfinished_events.items() %}
		  <div>{{date}}</div>
		  {% for event in events %}
			  <div>
				  <a href="/event/{{event.key().id()}}">{{event.title}}</a>
			  </div>
		  {% endfor %}
	  {% endfor %}
	  <br>
	  <hr>
	  <h4>Finished Events:</h4>
		<label>
			<div>Start Date</div>
			<input type="date-local" name="startDate" value={{startDate.strftime("%Y-%m-%d")}}>
		</label>
		<label>
			<div>End Date</div>
			<input type="date-local" name="endDate" value={{endDate.strftime("%Y-%m-%d")}}>
		</label>
    <br><br>
		<input type="submit" name='lookup'>
    {% if errMessage %}
      <h4>{{errMessage}}</h4>
    {% endif %}
	</form>

	{% for (date,events) in finished_events.items() %}
    <br>
		<div>{{date}}</div>
		{% for event in events %}
			<div>
				<a href="/event/{{event.key().id()}}">{{event.title}}</a>
			</div>
		{% endfor %}
	{% endfor %}
	</div>
{% endblock%}
