{% extends "sectionBase.html" %}
{% block contentSection %}
	<h3>Today</h3>
	<br>
  <h4>Finished</h4>
  {% for event in events['finished'] %}
		<h4>
      <a href="/event/{{event[0].key().id()}}">{{event[0].title}} ----------- 
        {{event[0].time_exe_start.time().hour}}:{{'{:02d}'.format(event[0].time_exe_start.time().minute)}} - 
        {{event[0].time_exe_end.time().hour}}:{{'{:02d}'.format(event[0].time_exe_end.time().minute)}} 
        ({{event[1]}} minutes)</a>
    </h4>
  {% endfor %}
  <hr>
  <h4>Unfinished</h4>
	{% for event in events['unfinished'] %}
		<h4>
      <a href="/event/{{event[0].key().id()}}">{{event[0].title}} ----------- 
        {{event[0].time_plan_start.time().hour}}:{{'{:02d}'.format(event[0].time_plan_start.time().minute)}} - 
        {{event[0].time_plan_end.time().hour}}:{{'{:02d}'.format(event[0].time_plan_end.time().minute)}} 
        ({{event[1]}} minutes)</a>
		</h4>
  {% endfor %}
    <hr>
{% endblock%}
